@import "../../assets/scss/helpers/_variables";

.menu-list {
  border: 1px dashed $border-color;
  list-style: none;
  border-radius: .75rem;
  padding: 0 1rem;
  

  >li {
    border-bottom: 1px dashed $border-color;
  }

  >li:last-child {
    border-bottom: 0
  }

  a[aria-expanded="true"].m-link {
    color: $secondary-color;
  }

  a[aria-expanded="true"] .arrow:before {
    content: "\f103"
  }

  .m-link,
  .ms-link {
    display: flex
  }

  .m-link:hover,
  .m-link.active,
  .ms-link:hover,
  .ms-link.active {
    color: $secondary-color;
  }

  .m-link:hover::before,
  .m-link.active::before,
  .ms-link:hover::before,
  .ms-link.active::before {
    display: block
  }

  .m-link {
    color: $color-600;
    align-items: center;
    padding: 10px 0
  }

  .m-link>i {
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-right: 10px
  }

  .ms-link {
    color: $color-600;
    position: relative;
    padding: 4px 0;
    font-size: 15px
  }

  .ms-link::before {
    background-color: $secondary-color;
    content: "";
    display: none;
    position: absolute;
    height: 9px;
    width: 9px;
    left: -28px;
    top: 10px;
    border-radius: 10px
  }

  .divider {
    color: $color-600;
  }

  .divider small,
  .divider .small {
    font-size: 12px
  }

  .sub-menu {
    transition: ease 0.2s;
    list-style: none;
    position: relative;
    padding-left: 34px
  }

  @media (prefers-reduced-motion: reduce) {
    .sub-menu {
      transition: none
    }
  }

  .sub-menu li:last-child {
    padding-bottom: 15px
  }

  .sub-menu::before {
    background-color: $secondary-color;
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    left: 10px;
    top: 0
  }
}