html,
body {
  padding: 0;
  margin: 0;
}

body {
  transition: ease 0.1s;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: $body-color;
  color: $color-600;
  font-family: "Nunito",sans-serif;
  font-size: 16px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}


:root [data-theme="theme-blue"] {
  background: $body-color
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: $secondary-color;
    outline: none;
    box-shadow: none;
  }
}

.main-layout {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}

.w30 {
  width: 30px
}

.w60 {
  width: 60px
}

.w90 {
  width: 90px
}

.w120 {
  width: 120px
}

.w180 {
  width: 180px
}

.w240 {
  width: 240px
}

.w320 {
  width: 320px
}

.w380 {
  width: 380px
}

.after-none::after {
  display: none
}