.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: 2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover {
    color: #212529;
  }
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn.btn-lg, .btn-group-lg>.btn {
  padding: 0.89rem 1rem;
  font-size: 1rem;
}

.btn.btn-outline-secondary {
  border-color: $border-color;
}

.btn-check:focus + .btn {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.btn {
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }

  &:disabled, &.disabled {
    pointer-events: none;
    opacity: 0.65;
  }
}

fieldset:disabled .btn {
  pointer-events: none;
  opacity: 0.65;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;

  &:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
  }
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}

.btn-check {
  &:checked + .btn-primary, &:active + .btn-primary {
    color: #fff;
    background-color: #0a58ca;
    border-color: #0a53be;
  }
}

.btn-primary {
  &:active, &.active {
    color: #fff;
    background-color: #0a58ca;
    border-color: #0a53be;
  }
}

.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0a58ca;
  border-color: #0a53be;
}

.btn-check {
  &:checked + .btn-primary:focus, &:active + .btn-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
  }
}

.btn-primary {
  &:active:focus, &.active:focus {
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
  }
}

.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}

.btn-primary {
  &:disabled, &.disabled {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;

  &:hover {
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
  }
}

.btn-check:focus + .btn-secondary, .btn-secondary:focus {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
  box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
}

.btn-check {
  &:checked + .btn-secondary, &:active + .btn-secondary {
    color: #fff;
    background-color: #565e64;
    border-color: #51585e;
  }
}

.btn-secondary {
  &:active, &.active {
    color: #fff;
    background-color: #565e64;
    border-color: #51585e;
  }
}

.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #565e64;
  border-color: #51585e;
}

.btn-check {
  &:checked + .btn-secondary:focus, &:active + .btn-secondary:focus {
    box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
  }
}

.btn-secondary {
  &:active:focus, &.active:focus {
    box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
  }
}

.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
}

.btn-secondary {
  &:disabled, &.disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
}

.btn-success {
  color: #fff;
  background-color: #198754;
  border-color: #198754;

  &:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
  }
}

.btn-check:focus + .btn-success, .btn-success:focus {
  color: #fff;
  background-color: #157347;
  border-color: #146c43;
  box-shadow: 0 0 0 0.25rem rgba(60, 153, 110, 0.5);
}

.btn-check {
  &:checked + .btn-success, &:active + .btn-success {
    color: #fff;
    background-color: #146c43;
    border-color: #13653f;
  }
}

.btn-success {
  &:active, &.active {
    color: #fff;
    background-color: #146c43;
    border-color: #13653f;
  }
}

.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #146c43;
  border-color: #13653f;
}

.btn-check {
  &:checked + .btn-success:focus, &:active + .btn-success:focus {
    box-shadow: 0 0 0 0.25rem rgba(60, 153, 110, 0.5);
  }
}

.btn-success {
  &:active:focus, &.active:focus {
    box-shadow: 0 0 0 0.25rem rgba(60, 153, 110, 0.5);
  }
}

.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(60, 153, 110, 0.5);
}

.btn-success {
  &:disabled, &.disabled {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
  }
}

.btn-info {
  color: #191A1C;
  background-color: #4FB8C9;
  border-color: #4FB8C9;

  &:hover {
    color: #191A1C;
    background-color: #69c3d1;
    border-color: #61bfce;
  }
}

.btn-check:focus + .btn-info, .btn-info:focus {
  color: #191A1C;
  background-color: #69c3d1;
  border-color: #61bfce;
  box-shadow: 0 0 0 0.25rem rgba(71, 160, 175, 0.5);
}

.btn-check {
  &:checked + .btn-info, &:active + .btn-info {
    color: #191A1C;
    background-color: #72c6d4;
    border-color: #61bfce;
  }
}

.btn-info {
  &:active, &.active {
    color: #191A1C;
    background-color: #72c6d4;
    border-color: #61bfce;
  }
}

.show > .btn-info.dropdown-toggle {
  color: #191A1C;
  background-color: #72c6d4;
  border-color: #61bfce;
}

.btn-check {
  &:checked + .btn-info:focus, &:active + .btn-info:focus {
    box-shadow: 0 0 0 0.25rem rgba(71, 160, 175, 0.5);
  }
}

.btn-info {
  &:active:focus, &.active:focus {
    box-shadow: 0 0 0 0.25rem rgba(71, 160, 175, 0.5);
  }
}

.show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(71, 160, 175, 0.5);
}

.btn-info {
  &:disabled, &.disabled {
    color: #191A1C;
    background-color: #4FB8C9;
    border-color: #4FB8C9;
  }
}

.btn-warning {
  color: #191A1C;
  background-color: #f1df3c;
  border-color: #f1df3c;

  &:hover {
    color: #191A1C;
    background-color: #f3e459;
    border-color: #f2e250;
  }
}

.btn-check:focus + .btn-warning, .btn-warning:focus {
  color: #191A1C;
  background-color: #f3e459;
  border-color: #f2e250;
  box-shadow: 0 0 0 0.25rem rgba(209, 193, 55, 0.5);
}

.btn-check {
  &:checked + .btn-warning, &:active + .btn-warning {
    color: #191A1C;
    background-color: #f4e563;
    border-color: #f2e250;
  }
}

.btn-warning {
  &:active, &.active {
    color: #191A1C;
    background-color: #f4e563;
    border-color: #f2e250;
  }
}

.show > .btn-warning.dropdown-toggle {
  color: #191A1C;
  background-color: #f4e563;
  border-color: #f2e250;
}

.btn-check {
  &:checked + .btn-warning:focus, &:active + .btn-warning:focus {
    box-shadow: 0 0 0 0.25rem rgba(209, 193, 55, 0.5);
  }
}

.btn-warning {
  &:active:focus, &.active:focus {
    box-shadow: 0 0 0 0.25rem rgba(209, 193, 55, 0.5);
  }
}

.show > .btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(209, 193, 55, 0.5);
}

.btn-warning {
  &:disabled, &.disabled {
    color: #191A1C;
    background-color: #f1df3c;
    border-color: #f1df3c;
  }
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;

  &:hover {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
  }
}

.btn-check:focus + .btn-danger, .btn-danger:focus {
  color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37;
  box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}

.btn-check {
  &:checked + .btn-danger, &:active + .btn-danger {
    color: #fff;
    background-color: #b02a37;
    border-color: #a52834;
  }
}

.btn-danger {
  &:active, &.active {
    color: #fff;
    background-color: #b02a37;
    border-color: #a52834;
  }
}

.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #b02a37;
  border-color: #a52834;
}

.btn-check {
  &:checked + .btn-danger:focus, &:active + .btn-danger:focus {
    box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
  }
}

.btn-danger {
  &:active:focus, &.active:focus {
    box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
  }
}

.show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}

.btn-danger {
  &:disabled, &.disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
}

.btn-light {
  color: #191A1C;
  background-color: #f8f9fa;
  border-color: #f8f9fa;

  &:hover {
    color: #191A1C;
    background-color: #f9fafb;
    border-color: #f9fafb;
  }
}

.btn-check:focus + .btn-light, .btn-light:focus {
  color: #191A1C;
  background-color: #f9fafb;
  border-color: #f9fafb;
  box-shadow: 0 0 0 0.25rem rgba(215, 216, 217, 0.5);
}

.btn-check {
  &:checked + .btn-light, &:active + .btn-light {
    color: #191A1C;
    background-color: #f9fafb;
    border-color: #f9fafb;
  }
}

.btn-light {
  &:active, &.active {
    color: #191A1C;
    background-color: #f9fafb;
    border-color: #f9fafb;
  }
}

.show > .btn-light.dropdown-toggle {
  color: #191A1C;
  background-color: #f9fafb;
  border-color: #f9fafb;
}

.btn-check {
  &:checked + .btn-light:focus, &:active + .btn-light:focus {
    box-shadow: 0 0 0 0.25rem rgba(215, 216, 217, 0.5);
  }
}

.btn-light {
  &:active:focus, &.active:focus {
    box-shadow: 0 0 0 0.25rem rgba(215, 216, 217, 0.5);
  }
}

.show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(215, 216, 217, 0.5);
}

.btn-light {
  &:disabled, &.disabled {
    color: #191A1C;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
  }
}

.btn-dark {
  color: #fff;
  background-color: #191818;
  border-color: #191818;

  &:hover {
    color: #fff;
    background-color: #151414;
    border-color: #141313;
  }
}

.btn-check:focus + .btn-dark, .btn-dark:focus {
  color: #fff;
  background-color: #151414;
  border-color: #141313;
  box-shadow: 0 0 0 0.25rem rgba(60, 59, 59, 0.5);
}

.btn-check {
  &:checked + .btn-dark, &:active + .btn-dark {
    color: #fff;
    background-color: #141313;
    border-color: #131212;
  }
}

.btn-dark {
  &:active, &.active {
    color: #fff;
    background-color: #141313;
    border-color: #131212;
  }
}

.show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #141313;
  border-color: #131212;
}

.btn-check {
  &:checked + .btn-dark:focus, &:active + .btn-dark:focus {
    box-shadow: 0 0 0 0.25rem rgba(60, 59, 59, 0.5);
  }
}

.btn-dark {
  &:active:focus, &.active:focus {
    box-shadow: 0 0 0 0.25rem rgba(60, 59, 59, 0.5);
  }
}

.show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(60, 59, 59, 0.5);
}

.btn-dark {
  &:disabled, &.disabled {
    color: #fff;
    background-color: #191818;
    border-color: #191818;
  }
}

.btn-outline-primary {
  color: #0d6efd;
  border-color: #0d6efd;

  &:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
}

.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}

.btn-check {
  &:checked + .btn-outline-primary, &:active + .btn-outline-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
}

.btn-outline-primary {
  &:active, &.active, &.dropdown-toggle.show {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
}

.btn-check {
  &:checked + .btn-outline-primary:focus, &:active + .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
  }
}

.btn-outline-primary {
  &:active:focus, &.active:focus, &.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
  }

  &:disabled, &.disabled {
    color: #0d6efd;
    background-color: transparent;
  }
}

.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;

  &:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
}

.btn-check:focus + .btn-outline-secondary, .btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
}

.btn-check {
  &:checked + .btn-outline-secondary, &:active + .btn-outline-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
}

.btn-outline-secondary {
  &:active, &.active, &.dropdown-toggle.show {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
}

.btn-check {
  &:checked + .btn-outline-secondary:focus, &:active + .btn-outline-secondary:focus {
    box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
  }
}

.btn-outline-secondary {
  &:active:focus, &.active:focus, &.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
  }

  &:disabled, &.disabled {
    color: #6c757d;
    background-color: transparent;
  }
}

.btn-outline-success {
  color: #198754;
  border-color: #198754;

  &:hover {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
  }
}

.btn-check:focus + .btn-outline-success, .btn-outline-success:focus {
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.5);
}

.btn-check {
  &:checked + .btn-outline-success, &:active + .btn-outline-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
  }
}

.btn-outline-success {
  &:active, &.active, &.dropdown-toggle.show {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
  }
}

.btn-check {
  &:checked + .btn-outline-success:focus, &:active + .btn-outline-success:focus {
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.5);
  }
}

.btn-outline-success {
  &:active:focus, &.active:focus, &.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.5);
  }

  &:disabled, &.disabled {
    color: #198754;
    background-color: transparent;
  }
}

.btn-outline-info {
  color: #4FB8C9;
  border-color: #4FB8C9;

  &:hover {
    color: #191A1C;
    background-color: #4FB8C9;
    border-color: #4FB8C9;
  }
}

.btn-check:focus + .btn-outline-info, .btn-outline-info:focus {
  box-shadow: 0 0 0 0.25rem rgba(79, 184, 201, 0.5);
}

.btn-check {
  &:checked + .btn-outline-info, &:active + .btn-outline-info {
    color: #191A1C;
    background-color: #4FB8C9;
    border-color: #4FB8C9;
  }
}

.btn-outline-info {
  &:active, &.active, &.dropdown-toggle.show {
    color: #191A1C;
    background-color: #4FB8C9;
    border-color: #4FB8C9;
  }
}

.btn-check {
  &:checked + .btn-outline-info:focus, &:active + .btn-outline-info:focus {
    box-shadow: 0 0 0 0.25rem rgba(79, 184, 201, 0.5);
  }
}

.btn-outline-info {
  &:active:focus, &.active:focus, &.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(79, 184, 201, 0.5);
  }

  &:disabled, &.disabled {
    color: #4FB8C9;
    background-color: transparent;
  }
}

.btn-outline-warning {
  color: #f1df3c;
  border-color: #f1df3c;

  &:hover {
    color: #191A1C;
    background-color: #f1df3c;
    border-color: #f1df3c;
  }
}

.btn-check:focus + .btn-outline-warning, .btn-outline-warning:focus {
  box-shadow: 0 0 0 0.25rem rgba(241, 223, 60, 0.5);
}

.btn-check {
  &:checked + .btn-outline-warning, &:active + .btn-outline-warning {
    color: #191A1C;
    background-color: #f1df3c;
    border-color: #f1df3c;
  }
}

.btn-outline-warning {
  &:active, &.active, &.dropdown-toggle.show {
    color: #191A1C;
    background-color: #f1df3c;
    border-color: #f1df3c;
  }
}

.btn-check {
  &:checked + .btn-outline-warning:focus, &:active + .btn-outline-warning:focus {
    box-shadow: 0 0 0 0.25rem rgba(241, 223, 60, 0.5);
  }
}

.btn-outline-warning {
  &:active:focus, &.active:focus, &.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(241, 223, 60, 0.5);
  }

  &:disabled, &.disabled {
    color: #f1df3c;
    background-color: transparent;
  }
}

.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;

  &:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
}

.btn-check:focus + .btn-outline-danger, .btn-outline-danger:focus {
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
}

.btn-check {
  &:checked + .btn-outline-danger, &:active + .btn-outline-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
}

.btn-outline-danger {
  &:active, &.active, &.dropdown-toggle.show {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
}

.btn-check {
  &:checked + .btn-outline-danger:focus, &:active + .btn-outline-danger:focus {
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
  }
}

.btn-outline-danger {
  &:active:focus, &.active:focus, &.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
  }

  &:disabled, &.disabled {
    color: #dc3545;
    background-color: transparent;
  }
}

.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;

  &:hover {
    color: #191A1C;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
  }
}

.btn-check:focus + .btn-outline-light, .btn-outline-light:focus {
  box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
}

.btn-check {
  &:checked + .btn-outline-light, &:active + .btn-outline-light {
    color: #191A1C;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
  }
}

.btn-outline-light {
  &:active, &.active, &.dropdown-toggle.show {
    color: #191A1C;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
  }
}

.btn-check {
  &:checked + .btn-outline-light:focus, &:active + .btn-outline-light:focus {
    box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
  }
}

.btn-outline-light {
  &:active:focus, &.active:focus, &.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
  }

  &:disabled, &.disabled {
    color: #f8f9fa;
    background-color: transparent;
  }
}

.btn-outline-dark {
  color: #191818;
  border-color: #191818;

  &:hover {
    color: #fff;
    background-color: #191818;
    border-color: #191818;
  }
}

.btn-check:focus + .btn-outline-dark, .btn-outline-dark:focus {
  box-shadow: 0 0 0 0.25rem rgba(25, 24, 24, 0.5);
}

.btn-check {
  &:checked + .btn-outline-dark, &:active + .btn-outline-dark {
    color: #fff;
    background-color: #191818;
    border-color: #191818;
  }
}

.btn-outline-dark {
  &:active, &.active, &.dropdown-toggle.show {
    color: #fff;
    background-color: #191818;
    border-color: #191818;
  }
}

.btn-check {
  &:checked + .btn-outline-dark:focus, &:active + .btn-outline-dark:focus {
    box-shadow: 0 0 0 0.25rem rgba(25, 24, 24, 0.5);
  }
}

.btn-outline-dark {
  &:active:focus, &.active:focus, &.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(25, 24, 24, 0.5);
  }

  &:disabled, &.disabled {
    color: #191818;
    background-color: transparent;
  }
}

.btn-link {
  font-weight: 400;
  color: #0d6efd;
  text-decoration: underline;

  &:hover {
    color: #0a58ca;
  }

  &:disabled, &.disabled {
    color: #6c757d;
  }
}
/*
.btn-lg, .btn-group-lg > .btn {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.btn-sm, .btn-group-sm > .btn {
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: 0.2rem;
}*/